# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.local

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Temporary & Cache
.pytest_cache/
.streamlit/
